@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>@ViewBag.title</title>
    <link href="@Url.Content("~/Content/css/base.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/project.min.css")" rel="stylesheet">
    @RenderSection("Css", false)
</head>
<body class="page-brand">
    @RenderBody()
    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.js"></script>
    <script src="@Url.Content("~/Content/js/base.min.js")"></script>
    <script src="@Url.Content("~/Content/js/project.min.js")"></script>
    @RenderSection("Script", false)
</body>
</html>
